################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/HackerNewsService/FileContentIndex
/HackerNewsService/obj/Debug/net8.0
/HackerNewsService/obj
/.vs/HackerNewsService/CopilotIndices/17.14.1661.41761
/.vs/HackerNewsService
/HackerNewsService/bin/Debug/net8.0
